<launch>
  <rosparam file="$(find mobilerobot_gazebo)/config/mobile_robot_control.yaml" command="load" />
  <!--rosparam file="$(find rrbot_control)/config/rrbot_control.yaml" command="load" /-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" args="mobile"/>
  <!--node name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" ns="/rrbot" args="joint_state_controller joint1_position_controller joint2_position_controller"/-->
</launch>
